<section id="services" style="background: url('assets/img/bg.jpg'); background-attachment: fixed;background-position: center;background-repeat: no-repeat;background-size: cover;">
  <div class="overlay ptb-120">

      <div class="container ">
          <div class="title text-center text-white">
              <h2>Services
                  <hr class="hr" />
              </h2>
          </div>

          <div class="row pt-5">
              <div class="col-md-4 animated wow fadeInLeft">
                  <div class="spl">
                      <div class="icon">
                          <i class="fas fa-mobile-alt"></i>
                      </div>
                      <div class="details">
                          <h5>Mobile App production</h5>
                          <p>Great, modern </p>
                      </div>
                  </div>
              </div>
              <div class="col-md-4 animated wow fadeInUp">
                  <div class="spl">
                      <div class="icon">
                          <i class="fas fa-hdd"></i>
                      </div>
                      <div class="details">
                          <h5>Front-End Development</h5>
                          <p>Great, modern </p>
                      </div>
                  </div>
              </div>
              <div class="col-md-4 animated wow fadeInRight">
                  <div class="spl">
                      <div class="icon">
                          <i class="fas fa-desktop"></i>
                      </div>
                      <div class="details">
                          <h5>Website App production</h5>
                          <p>Great, modern </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>