<div class="loading" *ngIf="loading">

  <app-hero-video></app-hero-video>
  <app-about></app-about>
  <app-services></app-services>
  <app-portfolio [items]="items"></app-portfolio>
  <app-contact></app-contact>
  <footer class="py-1">

    <div class="row social-container ">
        <ul class="social ">
            <li><a href="#"><i class="fab fa-facebook-f "></i></a></li>
            <li><a href="#"><i class="fab  fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fab  fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fab  fa-github"></i></a></li>
            <li><a href="#"><i class="fab  fa-skype"></i></a></li>

        </ul>

    </div>
    <div class="row social-container text-center text-white">
        &copy; Pinaki Roy 2019
    </div>
  </footer>
</div>

<div class="loader" *ngIf="!loading">
  <div class="sk-cube-grid">
    <div class="sk-cube sk-cube1"></div>
    <div class="sk-cube sk-cube2"></div>
    <div class="sk-cube sk-cube3"></div>
    <div class="sk-cube sk-cube4"></div>
    <div class="sk-cube sk-cube5"></div>
    <div class="sk-cube sk-cube6"></div>
    <div class="sk-cube sk-cube7"></div>
    <div class="sk-cube sk-cube8"></div>
    <div class="sk-cube sk-cube9"></div>
  </div>
</div>
