<section id="portfolio">
  <div class="overlay ptb-120">
    <div class="container-fluid">
      <div class="container ">
        <div class="title text-center text-white wow slideInUp" data-wow-delay="0.6s">
          <h2>Portfolio
            <hr class="hr" />
          </h2>
        </div>
      </div>
    </div>
    <div class=" portfolio">
      <div class=" pt-5  work " id="works">
        <div class="box m-1 wow slideInUp" data-wow-delay="0.6s" *ngFor="let item of items">
          <div class="icon text-center">
            <h2>{{item.id}}</h2>
          </div>
          <div class="content d-flex justify-content-center flex-column">
            <h3>{{item.title}}</h3>
            <p class="p-1">{{item.decription}}</p>

              <button class="links " mdbBtn type="button" gradient="aqua" rounded="true" mdbWavesEffect>View Project</button>

          </div>

        </div>


      </div>
    </div>
  </div>
</section>
<!-- <button type="button" mdbBtn color="primary" class="waves-light" data-toggle="modal" data-target="#basicExample" (click)="frame.show()"
  mdbWavesEffect>Launch Modal</button> -->
