<!--Navbar-->
<section id="hero" class="v-header contain">
  <div class="full-screen-video-wrap">
    <video src="assets/video/bg.mp4" autoplay="trur" loop="true"></video>

  </div>
  <div class="header-overlay"></div>
  <div class="header-content">
     <div id="hero-top">

      <header class="h-100">
        <mdb-navbar id="navbar" SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar" [containerInside]="false">


          <mdb-navbar-brand><a class="navbar-brand" href="#"> <i class="fas fa-code color-sec "></i>
              <span class="color-sec"> Pinaki</span> <span class="text-white"> Roy</span></a></mdb-navbar-brand>


          <links>


            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link waves-light" href="#hero" mdbWavesEffect>
                  <mdb-icon fas icon="home"></mdb-icon> Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link waves-light" href="#about" mdbWavesEffect>
                  <mdb-icon fas icon="user"></mdb-icon> About
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link waves-light" href="#services" mdbWavesEffect>
                  <mdb-icon fas icon="asterisk"></mdb-icon> Services
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link waves-light" href="#portfolio" mdbWavesEffect>
                  <mdb-icon fas icon="briefcase"></mdb-icon> Portfolio
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link waves-light" href="#contact" mdbWavesEffect>
                  <mdb-icon fas icon="address-card"></mdb-icon> Contact
                </a>
              </li>



            </ul>

          </links>


        </mdb-navbar>

      </header>
    </div>
    <div id="hero-middle" class="text-center text-white py-5">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="title animated slideInUp">
            <h3>I'm </h3>
            <div class="glow ">
              <h2>Pinaki Roy</h2>
            </div>
          </div>
          <div class="subtitle pt-3 animated slideInUp">
            <p>I'm a passionate UI/UX Designer and Front-End Developer creating modern and responsive design
              for Web
              and Mobile.
              Let's start scfadeIng and learn more about me.</p>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div id="hero-bottom" class="pt-5">
        <div class="icon text-center  arrow bounce">
          <a href="#about" class="text-white"><i class="fas fa-angle-double-down"></i></a>
        </div>
      </div>
    </div>

    <div id="hero-footer">
      <div id="social">
        <div class="row social-container">
          <ul class="social ">
            <li><a href="#"><i class="fab fa-facebook-f "></i></a></li>
            <li><a href="#"><i class="fab  fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fab  fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fab  fa-github"></i></a></li>
            <li><a href="#"><i class="fab  fa-skype"></i></a></li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
